<!DOCTYPE html>
{%extends 'customer/base.html'%}

{% block body_block%}

<div class="row ">
    {% for mobile in mobiles %}
    <div class="col">
        <div class="card mt-5" style="width: 18rem;">

  <ul class="list-group list-group-flush">
      <img src="{{mobile.image.url}}" style="height:200px;" alt="">
    <li class="list-group-item">{{mobile.company}}</li>
    <li class="list-group-item">{{mobile.model_name}}</li>
    <li class="list-group-item">{{mobile.colour}}</li>
      <li class="list-group-item">{{mobile.price}}</li>
          <li class="list-group-item">{{mobile.available_pieces}}</li>
          <li class="list-group-item">
              <a href="{%url 'orderproduct' mobile.id %}" class="btn btn-success ">ORDER</a>
          </li>

  </ul>
</div>
    </div>
    {% endfor %}
</div>

{% endblock %}