<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" mt-5>
            <a href="{%url 'addmobile' %}" class="btn btn-pimary">BOOK ADD</a>
            <a href="{%url 'mobilelist' %}"  class="btn btn-pimary">BOOK LIST</a>
            <a href="{%url 'signout' %}" class="btn btn-pimary">LOG OUT</a>

        </div>
        <div class="col-4"></div>
    </div>
</div>

</body>
</html>